@model NewsFormViewModel

@{
	ViewBag.Title = "Add news";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_NewsFormPartial" model="@Model"></partial>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}