@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>create</b>,  and <b>edit</b> events.
        <br />You can <b>approve</b> teachers and parents who wants to be part from the community!
    </p>
    <p class="lead mt-1">
        You can also see <b>teachers</b> and <b>parents</b> in the system.
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Event" asp-action="AllEventsSorted"
       class="btn btn-primary btn-lg">All Events</a>
    <a asp-area="" asp-controller="Event" asp-action="AddEvent"
       class="btn btn-primary btn-lg">Add Event</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="ApproveTeacher"
       class="btn btn-primary btn-lg">Teachers for Review</a>
    <span>  |   </span>
    <a asp-area="Admin" asp-controller="Home" asp-action="ParentReview"
       class="btn btn-primary btn-lg">Parents for review</a>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="AllTeachers"
       class="btn btn-primary btn-lg">All teachers</a>
    <a asp-area="Admin" asp-controller="AdminHome" asp-action="AllParents"
       class="btn btn-primary btn-lg">All parents</a>
</div>