@using HappyMama.BusinessLogic.ViewModels.Teacher
@model AddTeacherForm

@{
	ViewBag.Title = "Register for teachers";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="post">
<div class="form-floating mb-3">
	<input asp-for="FirstName" class="form-control" id="FirstName" placeholder="First Name">
		<span asp-validation-for="FirstName" class="small text-danger"></span>
	<label for="FirstName">First Name</label>
</div>
<div class="form-floating">
	<input asp-for="LastName" class="form-control" id="LastName" placeholder="Last Name">
	<span asp-validation-for="LastName" class="small text-danger"></span>
	<label for="LastName">Last Name</label>
</div>
<div class="text-center"> <input class="btn btn-primary mt-3 " type="submit" value="Save" /> </div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
