@model AddPostFormModel

@{
	ViewBag.Title = "Edit post";
}

<h2 class="text-center" @ViewBag.Title></h2>

<form method="post">
	<div class="form-floating mb-3">
		<input asp-for="Content" class="form-control" id="Title" placeholder="Content">
		<span asp-validation-for="Content" class="small text-danger"></span>
		<label for="Content">Content</label>
	</div>
	<div class="form-floating mb-3">
		<input asp-for="CreatedOn" class="form-control" id="CreatedOn" placeholder="CreatedOn">
		<span asp-validation-for="CreatedOn" class="small text-danger"></span>
		<label for="CreatedOn">CreatedOn</label>
	</div>
	<input type="hidden" asp-for="ThemeId" />
	<<input type="hidden" asp-for="CreatorId" />

	<div class="text-center"> <input class="btn btn-warning mt-3 " type="submit" value="Edit" /> </div>


</form>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
